*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #F6F8F9;

}

/* 
  HEADER
*/

#logo{
  background-color: white;
}

 #logo img{
   width: 50px;
   vertical-align: middle;
   margin: 10px 0px 10px 20px;

 }

#logo h1{
  display: inline-block;
  vertical-align: middle;
}

/* 
  MAIN
*/

#main-container{
  width: 70%;
  margin: 35px auto 10px;
}

/* container for the buttons */
main .container{

}

/* buttons */

.buttons{
  padding: 15px 0px 10px 50px;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.button{
  padding: 7px;
  border-radius: 5px;
}

#task{
  background-color: #46ADF1;
  color: white;
  border: none;
}
#task:hover{
  background-color: #3484ba;
}

#section{
  background-color: white;
  border: 0.5px solid #C5CBD1;
  color: #C5CBD1;
}
#section:hover{
  background-color: #9ea4aa;
  color: white;
  border: 0.5px solid transparent;
}

/* TASK VIEWER */

main .task-viewer{
  margin-top: 1px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  }
