*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #F6F8F9;

}

/* 
  HEADER
*/

#logo{
  background-color: white;
}

 #logo img{
   width: 50px;
   vertical-align: middle;
   margin: 10px 0px 10px 20px;

 }

#logo h1{
  display: inline-block;
  vertical-align: middle;
}

/* 
  MAIN
*/

#main-container{
  width: 70%;
  margin: 35px auto 10px;
}


/* buttons */

.buttons{
  padding: 15px 0px 10px 50px;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.button{
  padding: 7px;
  border-radius: 5px;
}

#task{
  background-color: #46ADF1;
  color: white;
  border: none;
}
#task:hover{
  background-color: #3484ba;
}

#section{
  background-color: white;
  border: 0.5px solid #C5CBD1;
  color: #C5CBD1;
}
#section:hover{
  background-color: #9ea4aa;
  color: white;
  border: 0.5px solid transparent;
}

/* TASK VIEWER */

/* new task */

main .task-viewer{
  margin-top: 2px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 30px 0px 10px 50px
  }

  main .task-viewer h4::before{
    content: '\25BE';
    padding-right: 5px;
  }
/* task */


  main .task-viewer p{
    padding-bottom: 20px;
  }

  main .task-viewer span{
    padding: 7px;
  
    border-radius: 12px;
    font-size: 10px;
    color: white;
  }

  .schedule{
    margin: 0px 0px 20px 0px;
  }


  /* Done mark */
  main .task-viewer .done::before{
    content: '\02713';
    color: #6EC4AF;
    background-color: transparent;
    border-radius: 50%;
    border: 0.5px solid #6EC4AF;
    margin-right: 5px;
    text-align: center;
    font-size: 10px;
    padding: 1px 3px;
  }


  /* Undone Mark */
  main .task-viewer .not-done::before{
    content: '\2715';
    color: #EA473D;
    background-color: transparent;
    border-radius: 50%;
    border: 0.5px solid #EA473D;
    margin-right: 5px;
    text-align: center;
    font-size: 10px;
    padding: 1px 3px;
  }



  /* span (flags) edits */
  .edit{
    background-color: #45ABE9;
  }
  .q1-goals{
    background-color: #9C72E4;
  }
  .rec{
    background-color: #64C0A9;
  }
  .mob{
    background-color: #F29E33;
  }
  .web{
    background-color: #D763A1;
  }
  .sales{
    background-color: #B0C925;
  }

